numpy==1.26.4
pandas==2.3.3
scipy==1.15.3
scikit-learn==1.7.2
xgboost==3.2.0
optuna==4.8.0
tensorflow==2.20.0
keras==3.12.1
joblib==1.5.3
tslearn==0.8.1
tsfeatures
matplotlib==3.10.9
openpyxl==3.1.5
h5py==3.14.0